<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index:: head">
</head>
<style>
    a.page1:hover {
        background-color: #7abaff;
    }

    button.create1:hover {
        background-color: #7abaff;
    }

    th, td {
        color: white;
    }
</style>
<body>
<form th:action="@{/service/edit}" method="post" th:object="${service}">
    <input type="hidden" th:field="*{idService}">
    <table style="width: 1000px;text-align: center;height: 300px;left: 20%;top: 20%;position: absolute"
           class="table table-striped" border="1">
        <thead>
        <tr style="background: #7abaff;color: white">
            <th scope="col">Service Name</th>
            <th scope="col">Area</th>
            <th scope="col">Number Of Floors</th>
            <th scope="col">Max Of People</th>
            <th scope="col">Cost</th>
            <th scope="col">Status</th>
            <th scope="col">Rent Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{name}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{area}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{numberOfFloor}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{maxOfPeople}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{cost}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{status}"></th>
            <th><select style="background: none;border: 1px solid white;height: 33px" th:field="*{kieuthue.id}">
                <option th:each="kieuthue1 : ${kieuthue}"
                        th:value="${kieuthue1.id}" th:text="${kieuthue1.nameRent}"></option>
            </select></th>
        </tr>
        </th:block>
        </tbody>
        <tr th:if="${#fields.hasErrors()}">
            <th><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></th>
            <th><span th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></span></th>
            <th><span th:if="${#fields.hasErrors('numberOfFloor')}" th:errors="*{numberOfFloor}"></span></th>
            <th><span th:if="${#fields.hasErrors('maxOfPeople')}" th:errors="*{maxOfPeople}"></span></th>
            <th><span th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></span></th>
            <th></th>
            <th></th>
        </tr>
    </table>
    <button type="submit" style="background: none;border: #7abaff;position: absolute;left: 65%;top: 61%"
            class="btn btn-primary mb-2">Update Service
    </button>
</form>
<div th:replace="index :: body"></div>
</body>
</html>