<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/product/create}">
        Add new Product
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id = "products">
    <thead>
    <tr>
        <th>ID Product</th>
        <th>Name Product</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${products}">
        <td th:text="${row.idProduct}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${row.getIdProduct()})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${row.getIdProduct()})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${row.getIdProduct()})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
