<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index:: head">
</head>
<style>
    a.page1:hover {
        background-color: #7abaff;
    }

    button.create1:hover {
        background-color: #7abaff;
    }

    th, td {
        color: white;
    }
</style>
<body>
<form th:action="@{/customer/edit}" method="post" th:object="${customer}">
    <input type="hidden" th:field="*{idCustomer}">
    <table style="width: 1000px;text-align: center;height: 300px;left: 20%;top: 20%;position: absolute"
           class="table table-striped" border="1">
        <thead>
        <tr style="background: #7abaff;color: white">
            <th scope="col">Name</th>
            <th scope="col">Birtday</th>
            <th scope="col">Gender</th>
            <th scope="col">Cmnd</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Customer Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{name}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{dayOfBirth}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{gender}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{cmnd}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{phoneNumber}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{email}"></th>
            <th><input style="background: none;border: 1px solid white;width: 100px;" th:field="*{address}"></th>
            <th><select style="background: none;border: 1px solid white;height: 33px" th:field="*{loaikhach.id}">
                <option th:each="khach : ${loaikhach}"
                        th:value="${khach.id}" th:text="${khach.name}"></option>
            </select></th>
        </tr>
        </th:block>
        </tbody>
        <tr th:if="${#fields.hasErrors()}">
            <th><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></th>
            <th><span th:if="${#fields.hasErrors('dayOfBirth')}" th:errors="*{dayOfBirth}"></span></th>
            <th><span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span></th>
            <th><span th:if="${#fields.hasErrors('cmnd')}" th:errors="*{cmnd}"></span></th>
            <th><span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span></th>
            <th><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span></th>
            <th><span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span></th>
        </tr>
    </table>
    <button type="submit" style="background: none;border: #7abaff;position: absolute;left: 65%;top: 61%"
            class="btn btn-primary mb-2">Update Customer
    </button>
</form>
<div th:replace="index :: body"></div>
</body>
</html>