<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body style="text-align: center">
<h1>Delete Blog</h1>
<form th:action="@{/blog/delete}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table class="table" border="1">
        <thead class="thead-dark">
        <tr>
            <th  style="width: 200px" scope="col" >Tittle</th>
            <th style="" scope="col">Text</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" th:field="*{tittle}" style="width: 200px"/></td>
            <td><input style="width: 500px" type="text" th:field="*{text}"/></td>
            <td><input type="submit" value="Delete Blog"></td>
        </tr>
        </tbody>
    </table>
<!--    <table style="text-align: center">-->
<!--        <tr>-->
<!--             <td>Tittle:</td>-->
<!--            <td th:text="*{tittle}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>text:</td>-->
<!--        <td th:text="*{text}"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td></td>-->
<!--            <td><input type="submit" value="Delete Blog"></td>-->
<!--        </tr>-->
<!--    </table>-->
</form>
<h3 style="color: black">
    <button><a style="color: black" th:href="@{/blog}">Back To Blog List</a></button>
</h3>
</body>
</html>