<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">Back to Product</a>
<center>
<h1 th:text="${product.name}"></h1>
<form th:action="@{/product/buy}" th:object="${product}" method="post">
    <table border="1">
        <tr>
            <td><img th:src="${product.img}" style="width: 200px;height: 300px"></td>
        </tr>
        <tr>
            <td><span th:text="${product.name}"></span></td>
        </tr>
        <tr>
            <td><span th:text="${product.price}"></span>VND</td>
        </tr>
        <tr>
            <td>
                <a th:href="@{/addproduct/__${product.id}__}">Thêm Vào Giỏ Hàng</a>
            </td>
        </tr>
    </table>
</form>
</center>
</body>
</html>