<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index:: head">
</head>
<style>
    a.page1:hover {
        background-color: #7abaff;
    }

    button.create1:hover {
        background-color: #7abaff;
    }

    th, td {
        color: white;
    }
</style>
<body>
<table style="width: 1000px;text-align: center;height: 300px;left: 20%;top: 20%;position: absolute"
       class="table table-striped" border="1">
    <thead>
    <tr style="background: #7abaff;color: white">
        <th scope="col">Employee Name</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Service Name</th>
        <th scope="col">Start Day</th>
        <th scope="col">End Day</th>
        <th scope="col">Deposits</th>
        <th scope="col">Total Price</th>

    </tr>
    </thead>
    <tbody>
    <th:block th:each="contract1 : ${contractservice}">
        <tr>
            <th style="width: 150px" th:text="${contract1.nhanvien.name}"></th>
            <td th:text="${contract1.khachhang.name}"></td>
            <td th:text="${contract1.dichvu.name}"></td>
            <td th:text="${contract1.dateStart}"></td>
            <td th:text="${contract1.dateEnd}"></td>
            <td th:text="${contract1.deposits}"></td>
            <td th:text="${contract1.totalPrice}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
<div style="position: absolute;left: 48%;top: 61%">
    <a class="page1" style="color: white" th:href="@{/contract/customerusingservice(page=${contractservice.number - 1})}"
       th:if="${contractservice.hasPrevious()}">Previous</a>
    <a class="page1" th:href="@{/contract/customerusingservice(page=${contractservice.number})}"
       th:text="${contractservice.number+1}"></a>/
    <!--    <a class="page1"style="color: white"th:href="@{/customer(page=${khachhang.number +1 })}" th:text="${khachhang.totalPages}" th:if="${khachhang.totalPages>=3}">-->
    <!--        <th:block th:text="/">-->
    <!--        </th:block></a>-->
    <a class="page1" style="color: white" th:href="@{/contract/customerusingservice(page=${contractservice.totalPages - 1})}"
       th:text="${contractservice.totalPages}"></a>
    <a class="page1" style="color: white" th:href="@{/contract/customerusingservice(page=${contractservice.number + 1})}"
       th:if="${contractservice.hasNext()}">Next</a>
</div>
<a style="position: absolute;left: 65%;top: 61%" th:href="@{/contract/create}">
    <button style="background: none;border: #7abaff" class="btn btn-primary mb-2">Create New Customer</button>
</a>
<div th:replace="index :: body"></div>
</body>
</html>